%ul
  %li
    %a(href="/")Inicio
  %li
    %a(href="/admin")Admin
  %li
    %a(href="/holamundo")Holamundo
  %li
    %a(href="/about")Acerca de
  %li
    %a(href="#")Usuarios
  %li
    %a(href="#")Posts